.daily-gift-choose {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: solid 3px #fcff37;
  background-color: #e6ee7944;
  border-radius: 15px;
}

//menu
#menu.show-menu {
  // transform: height(0);
  height: 426px;
  opacity: 1;
}

// search modal css
.search-box {
  transition: transform 0.5s ease-in-out;
  transform: translateX(0);
}

.search-box.hide-modal {
  transform: translateX(-120%);
}

// Edit Profile and Cover Page Modal
.online-gamer-modal.hide-modal,
.add-playlist-modal.hide-modal,
.daily-gift-modal.hide-modal,
.buy-shop-modal.hide-modal,
.delete-playlist-modal.hide-modal,
.edit-cover-modal.hide-modal,
.edit-profile-modal.hide-modal {
  opacity: 0;
  scale: 0.8;
  transform-origin: center;
}

.EmojiPickerReact {
  position: absolute !important;
  z-index: 10;
  width: 100% !important;
  height: 400px !important;
  top: 49px;
  left: 0;
}

.online-game-title {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%) translateY(calc(-50% - 5px));
}
