@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-[40px] font-medium leading-[1.4];
  }
  h2 {
    @apply text-2xl font-medium leading-[1.4];
  }
  h3 {
    @apply text-xl font-medium leading-[1.4];
  }
  p {
    @apply text-base font-medium leading-[1.6];
  }
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

/* add digital font */
@font-face {
  font-family: "DigitalFont";
  src: url("/asset/fonts/DigitalFont.ttf");
}

/* css for scrollbar App */

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #310c69;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c4b5fd;
  border-radius: 5px;
}

/* css scrolldown for AvatarShop */

.avatar-shop-list::-webkit-scrollbar {
  width: 2px;
}

.avatar-shop-list::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.2);
}

.avatar-shop-list::-webkit-scrollbar-thumb {
  background: #eceaea;
  border-radius: 5px;
}

/* css */
/* show delete option of Playlist Game when hover delete icon */
.delete-icon:hover .delete-option {
  display: block;
}

.pagination {
  /* width: 336px; */
}
.pagination .active {
  color: #f472b6;
}

.checkbox {
  border-radius: 50%;
}

.tab-container .active-tab {
  color: #ffffff;
  background-color: #9d174d;
  border-color: #ec4899;
  transition: color ease-in 0.1s, background-color ease-in 0.1s,
    border-color ease-in 0.1s;
}

.buy-button:disabled {
  background-color: #350f1e;
  pointer-events: none;
}

.slide-control {
  background-color: #ffffff !important;
}

//gradient
.bg-violet-gradient {
  background: linear-gradient(
    136.25deg,
    hsla(0, 0%, 100%, 0.25) -3.64%,
    rgba(137, 248, 255, 0.25) 23.83%,
    rgba(255, 165, 235, 0.25) 45.01%,
    rgba(255, 245, 158, 0.25) 78.78%,
    hsla(0, 0%, 100%, 0.25) 106.25%
  );
}

// css articles
.article {
  h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }

  h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }

  h3 {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }

  h4 {
    display: block;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }

  p {
    text-align: justify;
  }

  img {
    text-align: center;
    width: 600px;
    min-width: 300px;
  }

  figure.image {
    text-align: center;
  }

  figure.image img {
    display: inline;
  }

  a {
    color: #db2777;

    &:hover {
      text-decoration: underline;
    }
  }

  ul {
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
  }
  ol,
  ul {
    padding-left: 40px;
  }

  li {
    list-style-type: disc;
    size: 16px;
    font-weight: 500;
  }

  strong {
    font-weight: 800;
  }

  blockquote {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
  }
}

.news {
  p,
  h1,
  h2,
  h3,
  h4,
  blockquote {
    font-size: inherit;
    font-weight: inherit;
  }
}

.full-screen {
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  left: 0;
}
